body {
    font-family: 'Roboto', 'Courier New', Courier;
}

img {
    width: 200px;
    height: 200px;
}

.header, .hero {
    background: #1F2937;
    display: flex;
    padding: 10px;
    align-items: center;
}

.header {
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.left{
    font-size: 20px;
    font-weight: bold;
}

.right{

}

ul {
    font-size:18px;
    list-style-type: none;
    display: flex;
    gap: 16px;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: stretch;
    
}
.main{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 50px;
}
.secondary{
    color: #E5E7EB;
    
}
button {
    background: #3662F6;
    color: white;
}
button.sign_up{
    border-color: #3662F6;
    width: 100px;
}

.lefts, .rights {
    padding: 16px;
    justify-content: space-between;
}

.lefts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

.rights {

}


.bodyone {

}

.bodytwo {

}

.bluecontainer {

}

.footer {

}
