body {
    font-family: 'Roboto', 'Courier New', Courier;
    margin:0px;
}



img {
    width: 200px;
    height: 200px;
}

.header, .hero, .footer {
    background: #1F2937;
    padding: 20px;
    align-items: center;
}

.header {
    color: #F9FAF8;
    display: flex;
    padding-left:300px;
    padding-right: 300px;
}

.left{
    font-size: 20px;
    font-weight: bold;
}
.left, .right {
    max-width:720px;
    margin: 0px auto 0px auto;
}

ul {
    font-size:18px;
    list-style-type: none;
    display: flex;
    gap: 16px;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: stretch;
    
}
.main{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 50px;
}
.secondary{
    color: #E5E7EB;
    
}
button {
    background: #3662F6;
    color: white;
    box-shadow: none;
    border-radius: 8px;
}
button.sign_up{
    border: 2px solid #3662F6;
    width: 100px;
}

.lefts, .rights {
    padding: 16px;
    justify-content: space-between;
}

.lefts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

.bodyone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:20px;
    margin: 20px auto 20px auto;
}

.container {
    display: flex;
}

.infohead{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: bold;
}

.info {
    /* flex: 1; not needed but if the images were diff widths and you wanted them to be the same, use this*/
    padding: 20px;
    max-width: 200px;
}


.bodytwo {
    background: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding:20px;
}

.quote, .quoteby{
    max-width:720px;
    margin: 20px auto 20px auto;
}

.quoteby{
    text-align: end;
}

.bodythree{
    background: #3662F6;
    color: #F9FAF8;
    display: flex;
    gap: 50px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    max-width:720px;
    margin: 50px auto 50px auto;
    border-radius: 8px;
}

.bluecontainer {
    
}

.call {
    font-weight: bold;
}

.sign_up_two {
    border: 2px solid #f9f9f9;
}

.footer {
    color: #F9FAF8;
    text-align: center;
}
